body {
    font-family: 'Space Mono', monospace;
    background-color: #131313 !important;
    background-image: url('../static/images/overlay.png') !important;
    background-attachment: fixed !important;
    background-blend-mode: multiply !important;
    background-size: auto !important;
}

html {
    cursor: url('images/cursor-default.svg') 13 4, auto !important
}

a, button {
    cursor: url('images/cursor-pointer.svg') 13 4, auto !important;
}

.special {
    cursor: url('images/cursor-rock.svg') 13 4, auto !important;
}

.material-icons {
    user-select: none;
    font-feature-settings: 'liga' 1;
    vertical-align: middle;
}
/* Ensure text overlay doesn't overflow */
#bottom-player {
    overflow: hidden;
}
