<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Hagakure wavess</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="../static/assets/css/noscript.css"/>
    </noscript>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom.css"/>
</head>
<body class="is-preload">

<div id="wrapper">

    <header id="header">
        <h1>Hagakure wavesss</h1>
        <p>Collection of mixes by Hagakure lost in history</p>
    </header>

    <nav id="nav">
        <ul>
            <li><a href="#mixes" class="active">Mixes</a></li>
            <li><a href="#thoughts">Thoughts</a></li>
        </ul>
    </nav>

    <div id="main">
        <section id="mixes" class="main">
            {% for set in sets_list %}
                <div class="spotlight">
                    <span class="image"><img src="{{ set.artwork_path or '../static/images/pic01.jpg' }}" alt="artwork"/></span>
                    <div class="content">
                        <header class="major">
                            <h2>{{ set.name or set.id }}</h2>
                        </header>
                        <div id="{{ set.id }}" class="waveform">
                            <div id="{{ set.id }}-time" class="time">0:00</div>
                            <div id="{{ set.id }}-duration" class="duration">0:00</div>
                            <div id="{{ set.id }}-hover" class="hover"></div>
                        </div>
                        <ul class="actions">
                            <li><a id="{{ set.id }}-button" class="button"><i class="material-icons">play_arrow</i>/<i
                                    class="material-icons">pause</i></a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </section>

        <section id="thoughts" class="main special">
            <header class="major">
                <h2>Support your local scene</h2>
                <p>Respect, share, help :)</p>
            </header>
            <footer class="major">
                <ul class="actions special">
                    <li><a href="https://entropy.fi/en" class="button" target=”_blank”>entropy.fi</a></li>
                </ul>
            </footer>
        </section>

    </div>

    <footer id="footer">
        <p class="copyright">&copy; Luca Scotton - Design based on <a href="https://html5up.net/stellar" target=”_blank”>HTML5 UP/stellar</a>.</p>
    </footer>

</div>

<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/jquery.scrollex.min.js"></script>
<script src="../static/assets/js/jquery.scrolly.min.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

<script src="https://unpkg.com/wavesurfer.js@7"></script>
<script>
    const setsList = {{ sets_list | tojson }};
</script>
<script src="../static/custom.js"></script>

</body>
</html>